<div class="about_project">
  <div class="tech">
    <span class="app">{{ page.app }}</span>
    <span class="search">{{ page.search }}</span>
    <span class="html">
      {% if page.html %}
        Pregenerated HTML
      {% else %}
        No pregenerated HTML
      {% endif %}
    </span>
  </div>

  <ul>
    <li>
      Data: <a href="{{ page.data }}">{{ page.data }}</a>
    </li>
    <li>
      Code: <a href="{{ page.code }}">{{ page.code }}</a>
    </li>
    <li>
      Dev: <a href="{{ page.url_dev }}">{{ page.url_dev }}</a>
    </li>
    <li>
      Prod: <a href="{{ page.url_prod }}">{{ page.url_prod }}</a>
    </li>
  </ul>
</div>
