{% comment %}
  Requires "environment" variable
{% endcomment %}

{% if include.environment == "development" %}
  {% assign url = page.url_dev %}
{% else %}
  {% assign url = page.url_prod %}
{% endif %}

{% if page.app == "cocoon" %}
  <p>This site is built in cocoon, which means that you will need to do one more thing before you can see your changes!</p>

  <p>You are going to need to <strong>BREAK THE SITE</strong>.</p>

  <p>This sounds scary but I promise you that it almost always, usually, well, probably is not. We need to break the site so that Cocoon will refresh its contents. We do this by introducing an intentional error in some XSLT.</p>

  {% highlight bash %}
  cd /var/local/www/cocoon/TODO
  TODO
  mv ../../../cocoon/[TODO]/stylesheets/xslt/tei.p5.xsl ../../../cocoon/[TODO]/stylesheets/xslt/tei.p5.tmp.xsl
  {% endhighlight %}

  <p>Now, go to TODO BASED ON ENVIRONMENT and hard refresh the page. It should be broken!  That's a good thing. Now let's unbreak it.</p>

  {% highlight bash %}
  TODO
  mv ../../../cocoon/[TODO path]/stylesheets/xslt/tei.p5.tmp.xsl ../../../cocoon/[TODO path]/stylesheets/xslt/tei.p5.xsl
  {% endhighlight %}

  <p>Go back to TODO and refresh again. Hopefully it is unbroken and your changes are now available! [More info: <a href="#more_cocoon_broken">what if it's still broken?</a>]</p>

{% else %}

  <p>Go to <a href="{{ url }}">{{ url }}</a>. Your changes should already be showing up there, although you may need to hard refresh to see them. [More info: <a href="#more_refresh">what is a hard refresh?</a>]</p>

  <p>Make sure that you check not only the search results but an individual item page to make sure everything is shipshape.</p>

  {% if include.environment == "production" %}
    <p>Don't close this page yet! You're not quite done!</p>
  {% endif %}

{% endif %}

