{% comment %}
  Requires "environment" variable
{% endcomment %}

<p>SSH into the {{ include.environment }} server and navigate to the data repository. [More info: <a href="#more_ssh">if this is your first time logging in, you will need to set up server access</a>.]</p>

{% highlight bash %}
ssh username@dev-server.unl.edu

www
cd data/collections/{{ page.project }}
{% endhighlight %}

<p>Check to see which branch is currently checked out and see if there are any unexpected changes.</p>

{% highlight bash %}
git status
{% endhighlight %}

<p>Typically, you should be on the dev or main branch. [More info: <a href="#more_git_branch">What to do if it is on a different branch</a>.]</p>

<p>If you're on your desired branch, but there are outstanding changes, you will need to deal with them before you pull. [More info: <a href="#more_git_changes">There are files changed on the server</a>.]</p>

<p>Once you are on the correct branch, there are no outstanding changes, and everything is copacetic, then you can pull updates. </p>

{% highlight bash %}
git pull origin [current branch name]
{% endhighlight %}

<p>You should either get a message saying "Already up to date" or you should see a bunch of new files show up with no errors. [More info: <a href="#more_git_problems">What if there is a problem when I git pull?</a>]</p>

<p>Now you should be ready to begin updating the {{ include.environment }} website's contents!</p>
