<!-- Log in and pull -->

<h3 id="more_ssh">How to set up SSH</h3>
<p>TODO</p>
<a href="#login_dev">Return</a>

<h3 id="more_git_branch">What to do if the git branch is not dev or main</h3>
<p>TODO</p>
<a href="#login_dev">Return</a>

<h3 id="more_git_changes">There are files changed on the server</h3>
<p>TODO</p>
<a href="#login_dev">Return</a>

<h3 id="more_git_problems">What if there is a problem when I git pull?</h3>
<p>TODO cover permissions, merge conflict</p>
<a href="#login_dev">Return</a>

<!-- Update the site -->

<!-- Check the site -->

<h3 id="more_cocoon_broken">Cocoon is broken</h3>
<p>TODO</p>
<a href="#push_changes">Return</a>

<h3 id="more_refresh">How to hard refresh</h3>
<p>TODO</p>
<a href="#check_site">Return</a>

<!-- Push changes -->
