<h3>Login and Pull</h3>

<h4 id="more_ssh">How to set up SSH</h4>
<p>TODO</p>

<h4 id="more_git_branch">What to do if the git branch is not dev or main</h4>
<p>TODO</p>

<h4 id="more_git_changes">There are files changed on the server</h4>
<p>TODO</p>

<h4 id="more_git_problems">What if there is a problem when I git pull?</h4>
<p>TODO cover permissions, merge conflict</p>



<h3>Update the site</h3>

<h4 id="more_clear_solr">Clearing Solr by subcategory and more</h4>
<p>TODO</p>

<h4 id="more_clear_es">Clearing Elasticsearch by subcategory and more</h4>
<p>TODO possibly combine with above</p>

<h4 id="more_solr_post">Posting to Solr by specific file type, name, and updated date</h4>
<p>TODO</p>

<h4 id="more_html_error">HTML generation errors</h4>
<p>TODO</p>

<h4 id="more_es_error">Elasticsearch population errors</h4>
<p>TODO</p>



<h3>Check the site</h3>

<h4 id="more_cocoon_broken">Cocoon is broken</h4>
<p>TODO</p>

<h4 id="more_refresh">How to hard refresh</h4>
<p>TODO</p>




<h3>Push changes</h3>
