---
---

///////////////////////
/*     home page     */
///////////////////////

.project {
  background-color: lightgray;
  border-radius: 20px;
  margin: 2px;
  padding: 5px 10px;
}


///////////////////////
/* instruction pages */
///////////////////////

.about_project span {
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  &.app {
    background-color: blue;
  }
  &.search {
    background-color: purple;
  }
  &.html {
    background-color: green;
  }
}

.head-instruct ~ h3 {
  border-radius: 10px;
  padding: 5px 10px;
}

.head-instruct-dev ~ h3 {
  background-color: aquamarine;
}
.head-instruct-prod ~ h3 {
  background-color: orange;
}

.more_info {
  background-color: lightgray;
  border-radius: 20px;
  padding: 10px;
}
