---
---

///////////////////////////
/* home and project page */
///////////////////////////

.projects {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.project {
  background-color: lightgray;
  border-radius: 20px;
  margin: 2px;
  padding: 5px 10px;
}


///////////////////////
/* instruction pages */
///////////////////////

.about {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px 10px 0 10px
}

.about_project {
  margin-bottom: 20px;
}

.about_project .tech {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;

  span {
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    &.app {
      background-color: blue;
    }
    &.search {
      background-color: purple;
    }
    &.html {
      background-color: green;
    }
  }
}

.instruct h3 {
  border-radius: 10px;
  padding: 5px 10px;
}

.instruct {
  border-left: 5px solid;
  padding-left: 10px;
}

.instruct-dev {
  border-color: aquamarine;
  h3 {
    background-color: aquamarine;
  }
}
.instruct-prod {
  border-color: orange;
  h3 {
    background-color: orange;
  }
}

h4 {
  border: 2px;
  border-style: dotted;
  display: inline-block;
  padding: 0 5px;
}

.more_info {
  background-color: lightgray;
  border-radius: 20px;
  padding: 10px;
}
